[submodule "tq_backend"]
	path = tq_backend
	url = git@github.com:pprajap/tq_backend.git
[submodule "tq_frontend"]
	path = tq_frontend
	url = git@github.com:pprajap/tq_frontend.git
[submodule "tq_sdk"]
	path = tq_sdk
	url = git@github.com:pprajap/tq_sdk.git
